# Configuración del Servidor
PORT=3000
JWT_SECRET=tu_clave_secreta_aqui

# Configuración de Base de Datos (MySQL)
MYSQLHOST=localhost
MYSQLPORT=3306
MYSQLUSER=root
MYSQLPASSWORD=contraseña
MYSQLDATABASE=nombre_de_la_db

# Entorno (development / production)
NODE_ENV=development
