# Configuración del Servidor
PORT=3000
JWT_SECRET=tu_clave_secreta_aqui

# Configuración de Base de Datos (MySQL)
MYSQLHOST=localhost
MYSQLPORT=3306
MYSQLUSER=root
MYSQLPASSWORD=contraseña
MYSQLDATABASE=nombre_de_la_db

# Entorno (development / production)
NODE_ENV=development

# Mercado Pago (obtener en https://www.mercadopago.com.ar/developers)
MP_ACCESS_TOKEN=tu_access_token_sandbox_aqui
MP_WEBHOOK_SECRET=tu_clave_secreta_webhook

# URLs (usadas para redirect y webhook)
FRONTEND_URL=http://localhost:4200
BACKEND_URL=http://localhost:3000
